<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">Empresa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a [routerLink]="['/home']" class="nav-item nav-link" [routerLinkActive]="['active']">Home </a>
            <a [routerLink]="['/post']" class="nav-item nav-link" [routerLinkActive]="['active']">Post</a>
        </div>

        <div class="nav navbar-nav navbar-right" *ngIf="!identity">

            <a [routerLink]="['/register']" [routerLinkActive]="['active']" class="nav-item nav-link">
                <span>
                    Register
                </span>
            </a>

            <a [routerLink]="['/login']" [routerLinkActive]="['active']" class="nav-item nav-link">
                <span>
                    Login
                </span>
            </a>

        </div>

        <div class="nav navbar-nav navbar-right" *ngIf="identity">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    {{identity.name}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/profile']">Mis datos</a>
                    </li>
                    <li>
                        <a class="pointer" (click)="logout()">Cerrar Sesión</a>
                    </li>
                </ul>

            </li>
        </div>
    </div>

</nav>
<router-outlet></router-outlet>